{% extends 'myapp/base.html'%}

{% block navRight %}
  <li><a href="signup/">Sign Up</a></li>
{% endblock %}
{% block content %}
<div class="page-header">
  <center><h1>LogIn P-age</h1></center>
  <!-- <p class="lead"></p>  -->
</div>

<div class="jumbotron" style="width:500px;margin:auto;">
  {{value}}
<form action="/login/" method="post">
{% csrf_token %}


<div class="container">
<label><b>Username</b></label>
<input type="text" placeholder="Enter your username" name="uname" required>
<br/>
<label><b>Password</b></label>
<input type="password" placeholder="Enter your password" name="psw" required>
<br/>

<input type="checkbox" checked="checked"> Remember me
<br/>

<button id="lgin" type="submit" class="btn">Log In</button>
<a id="fgtpsw" class="btn" href="#forgotpassword">Forgot password?</a>


</div>
</form>
</div>

<style>
form {
    border: 5px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-left: 5px solid blue;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.btn{
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 48%;
}
#fgtpsw{
  background-color: #f44336;
}
#lgin{
background-color: #4CAF50;

}
.cancelbtn {
    width: auto;
    padding: 10px 18px;

}


</style>
{% endblock %}
