{% extends 'myapp/base.html' %}
{% block content %}
<div class = "jumbotron">
<h2 align="center">Past Recruits</h2>
</div>

<table class = "table table-stripped">
<tbody>
<tr>
	<td>Akash Institute</td>
	<td>ABB</td>
	<td>ACC Cements</td>
	<td>Accenture</td>
</tr>
<tr>
	<td>Accolite</td>
	<td>Adobe</td>
	<td>Agilent</td>
	<td>Alkem Pharma</td>
</tr>
<tr>
	<td>Amazon</td>
	<td>Amdocs</td>
	<td>Amsoft</td>
	<td>Applied Materials</td>
</tr>
<tr>
	<td>Ashok Leyland</td>
	<td>Atrenta</td>
	<td>Axsiom</td>
	<td>Axtria</td>
</tr>
<tr>
	<td>BALCO</td>
	<td>Baxter India</td>
	<td>Bechtel India</td>
	<td>Behyv</td>
</tr>
<tr>
	<td>Bharat Forge</td>
	<td>BHEL</td>
	<td>Blue Star Infotech</td>
	<td>BPCL</td>
</tr>
<tr>
	<td>Broadcom</td>
	<td>Browser Stack</td>
	<td>Cadila</td>
	<td>Capgemini</td>
</tr>
<tr>
	<td>Career Launcher</td>
	<td>Career Net</td>
	<td>Career Point</td>
	<td>Caterpiller</td>
</tr>
<tr>
	<td>C-Dot</td>
	<td>Cisco</td>
	<td>Citicorp</td>
	<td>Citrix</td>
</tr>
<tr>
	<td>Clarion Drugs</td>
	<td>Clavelino Capital</td>
	<td>Coal India</td>
	<td>Cognizant</td>
</tr>
<tr>
	<td>CSC</td>
	<td>Ericson</td>
	<td>DE Shaw</td>
	<td>Digital Global</td>
</tr>
<tr>
	<td>DMT</td>
	<td>Dover TEch</td>
	<td>DRDO</td>
	<td>Eaton</td>
</tr>
<tr>
	<td>eBay</td>
	<td>Epic Systems</td>
	<td>Ericsson</td>
	<td>Essar</td>
</tr>
<tr>
	<td>Evalueserve</td>
	<td>EXL Services</td>
	<td>Facebook</td>
	<td>FIITJEE</td>
</tr>
<tr>
	<td>Fireeye</td>
	<td>Flextronics</td>
	<td>Flipkart</td>
	<td>Flour Daniels</td>
</tr>
<tr>
	<td>Fractal</td>
	<td>Freescale</td>
	<td>Future First</td>
	<td>Future Tech Design</td>
</tr>
<tr>
	<td>Geometric Solutions</td>
	<td>Goldman Sachs</td>
	<td>Google</td>
	<td>Gujarat Glass</td>
</tr>
<tr>
	<td>HCL</td>
	<td>Hewlett Packard</td>
	<td>Hindalco</td>
	<td>Hero Motocorp</td>
</tr>
<tr>
	<td>Hospira</td>
	<td>HPCL</td>
	<td>HP-Global</td>
	<td>HRR Johnson</td>
</tr>
<tr>
	<td>Hindustan Unilever Ltd.</td>
	<td>IBM</td>
	<td>IFFCO TOKYO</td>
	<td>Iflex Solutions</td>
</tr>
<tr>
	<td>Indian Oil Corporation</td>
	<td>Indus Valley Partners</td>
	<td>Infosys</td>
	<td>InMOBI</td>
</tr>
<tr>
	<td>Ispat Industries</td>
	<td>ISRO</td>
	<td>ITC Limited</td>
	<td>Ivy Comptech</td>
</tr>
<tr>
	<td>JP Rewa Cement</td>
	<td>Jindal Steel and Power Ltd.</td>
	<td>Jubilant Organization</td>
	<td>Kaarya</td>
</tr>
<tr>
	<td>Kanbay</td>
	<td>KBR</td>
	<td>KIIT University</td>
	<td>Lehman Brothers</td>
</tr>
<tr>
	<td>L & T (ECC)</td>
	<td>L & T</td>
	<td>Lexinnova</td>
	<td>LG</td>
</tr>
<tr>
	<td>Madras Aluminium</td>
	<td>Mangalayatan University</td>
	<td>Maruti Suzuki</td>
	<td>MBT</td>
</tr>
<tr>
	<td>Mentor Graphics</td>
	<td>Merck</td>
	<td>Microsoft</td>
	<td>Midhani</td>
</tr>
<tr>
	<td>Misys</td>
	<td>Mobstac</td>
	<td>Morgan Stanley</td>
	<td>Motorola</td>
</tr>
<tr>
	<td>Mu Sigma</td>
	<td>Murugappa</td>
	<td>Nagarro</td>
	<td>Net Devices networks Pvt. Ltd.</td>
</tr>
<tr>
	<td>NetApp</td>
	<td>Newgen</td>
	<td>NTPC</td>
	<td>Nucleus</td>
</tr>
<tr>
	<td>Nutanix</td>
	<td>Nvidia</td>
	<td>On Mobile System</td>
	<td>Oracle</td>
</tr>
<tr>
	<td>Orbees</td>
	<td>OYO Rooms</td>
	<td>Payu</td>
	<td>Paytm</td>
</tr>
<tr>
	<td>Persistent</td>
	<td>Practo</td>
	<td>Proptiger</td>
	<td>Qualcomm</td>
</tr>
<tr>
	<td>Quark Media</td>
	<td>Reliance</td>
	<td>Reppify</td>
	<td>Reserve Bank of India</td>
</tr>
<tr>
	<td>Rites</td>
	<td>SAIL</td>
	<td>SRIB</td>
	<td>SRID</td>
</tr>
<tr>
	<td>Samtel</td>
	<td>Sapient</td>
	<td>SCA Tech</td>
	<td>Service Now</td>
</tr>
<tr>
	<td>Sigmoid</td>
	<td>Skytech Chatterjee</td>
	<td>Skyworks Solutions</td>
	<td>SNAM Alloys</td>
</tr>
<tr>
	<td>Snapdeal</td>
	<td>Socrates</td>
	<td>Sony</td>
	<td>SRM University</td>
</tr>
<tr>
	<td>ST Microelectronics</td>
	<td>Sterlite Group</td>
	<td>SumTotal Systems</td>
	<td>Symbol Technologies</td>
</tr>
<tr>
	<td>Syncata</td>
	<td>Talisma</td>
	<td>TATA Communications</td>
	<td>TATA Elxsi</td>
</tr>
<tr>
	<td>TATA Motors</td>
	<td>TATA Refractories</td>
	<td>TATA Steel</td>
	<td>Tavant</td>
</tr>
<tr>
	<td>TCIL</td>
	<td>TCS</td>
	<td>TCS (R&D)</td>
	<td>TCS DESS</td>
</tr>
<tr>
	<td>Technip</td>
	<td>T.I.M.E</td>
	<td>TMU University</td>
	<td>TRL Krosaki</td>
</tr>
<tr>
	<td>United Health Group</td>
	<td>Usha Infocom</td>
	<td>UT Starcom</td>
	<td>Value Edge</td>
</tr>
<tr>
	<td>Volvo Eicher Commercial</td>
	<td>Verizon</td>
	<td>Vignam University</td>
	<td>Virtusa</td>
</tr>
<tr>
	<td>VISA</td>
	<td>Vmoksha</td>
	<td>Vodafone</td>
	<td>VSNL</td>
</tr>
<tr>
	<td>Walmart</td>
	<td>Wipro</td>
	<td>Works Application</td>
	<td>Xilinx</td>
</tr>
<tr>
	<td>Yahoo</td>
	<td>Yodlee</td>
	<td>Zemoso Lab</td>
	<td>Zensar</td>
</tr>
<tr>
	<td>Zigsaw</td>
	<td>Zostel</td>
	<td>ZS Accociates</td>
</tr>
</tbody>
</table>


{% endblock %}
