{% extends 'myapp/base.html' %}
{% block content %}
                   <div class="page-header">
              <h1>Placement Policy </h1>
              <p class="lead">INSERT SOME other data HERE</p>
            </div>

          
<p>1.The company should fill the Job Notification Form (JNF) and submit to the Training and
Placement Cell (TPC) either online, as an e-mail attachment to placement.iitbhu.ac.in or as a
hard copy. The JNF serves as an introduction of the job profile for the benefit of the candidates
and also inform them of the company’s requirements.  </p>
            <p>2. The relevant content of the JNF is electronically broadcasted to all the students along with the
other additional information furnished by the company. </p>

			<p>3. The company can ask for the resumes of interested students and has the liberty to shortlist
them before the beginning of the placement process.  </p>
			<p> 4. The company will be allotted slots and dates for conducting Pre-Placement Talk (PPT)/Written
Test/Online Test, with a request to confirm the same by a specified date. On failing to do so, the
allotted slot may be given to other companies on their request. Request for any change in the
slot can be entertained subject to its availability. </p>
			<p> 5. TPC advises the companies to conduct the PPT before the recruitment process for final
placement commences. This will provide ample time to the students for making a considered
decision about joining the company. Conducting the Written/Online test early may facilitate the
company in earning an early slot for final placement </p>
			<p> 6. In case the company finds it inconvenient to visit the campus twice for going through its
complete selection process, it can be accommodated to carry out the entire selection process,
including PPT, during final placement season on a mutually agreed date. However, in such a
situation it may not be possible to accommodate the company in the early days of the final
placement season. </p>
			<p> 7. It is possible that a student shortlisted by a company might have earned a job prior to the
company’s scheduled slot for the final placement process. TPC will provide a comprehensive list
of such students to the company before its scheduled slot. Because of non-availability of such
already selected candidates, the company is advised to maintain an extended list of shortlisted
candidates, who can then be made eligible for the final placement process. </p>
			<p> 8.The final selection is not to be disclosed to the students directly. The results are to be submitted
to the TPC by the end of the assigned slot in a sealed envelope and the TPC will inform the
concerned students. Students with multiple offers will be required to finalize their option for
one company and inform TPC within half an hour after the end of the slot. His/her choice would
be informed to all the concerned companies. In this situation, to ensure that the company does
not suffer on the front of recruitment, the company is suggested to prepare a list of students, in
order of their merit, who can be kept waitlisted. Any drop out from the main-list will enable
movement of the waitlisted candidates to the list of selected candidates and the company will
be informed of the same. </p>
			<p> 9. The company shall visit the campus on scheduled dates and conduct the Written/Online
Test/GD/Interview as part of their selection procedure during the slot assigned to them. It is
important to understand that, on the same date, another company may be scheduled
before/after your slot and any shift is bound to cause inconvenience to yourself and others as
well. 
</p>
{% endblock %}
