{% extends 'myapp/base.html' %}
{% block content %}
          <div class="table-responsive">
          <style>

            td.key{
              text-align: right;
              width: 25%;
            }
          </style>
            <table title="User Profile" class="table table-stripped">
              <tbody>
                <tr class="jumbotron">
                  <td>
                    <img src=/Mia-khalifa.jpg" style="height: 200px; width: auto; align=" centre";="" "="">
                  </td>
                  <td>
                    <p>NAME</p>
                      <p>CLASS, YEAR</p>
                      <p>Computer Engineering</p>
                      <br>
                      <p>
                        <a href="file:///home/rahul/Documents/itw/link">Experiences</a>&nbsp;·&nbsp;<a href="file:///home/rahul/Documents/itw/Notes">Notes</a>&nbsp;·&nbsp;<a href="file:///home/rahul/Documents/itw/resume.pdf">Resume</a>
                      </p>
                  </td>
                </tr>
                <tr>
                  <td class="key">Roll No</td>
                  <td class="value">------OBTAIN FROM DATABASE-------</td>
                </tr>
                <tr>
                  <td class="key">CGPA</td>
                  <td class="value">------OBTAIN FROM DATABASE-------</td>
                </tr>
                <tr>
                  <td class="key">Interests</td>
                  <td class="value">------OBTAIN FROM DATABASE-------</td>
                </tr>
                <tr>
                  <td class="key">Languages</td>
                  <td class="value">------OBTAIN FROM DATABASE-------</td>
                </tr>
                <tr>
                  <td class="key">Father name</td>
                  <td class="value">------OBTAIN FROM DATABASE-------</td>
                </tr>
              </tbody>
            </table>



          </div><!--/row-->
{% endblock %}
