{% extends 'myapp/base.html' %}
{% block content %}
            <div class="page-header">
              <h1>The IIT BHU Advantage</h1>
              <p class="lead">INSERT SOME RANDOM BAKAR HERE</p>
            </div>

            <h3>Choice of Companies</h3>
            <p>IIT BHU invites the best recruiters in the market during the placement season covering various sectors such as Core Engineering, IT, Finance, Consulting, Automobiles, PSUs, etc. The sheer diversity of recruiters across all domains and the extensive participation of overseas companies is an epitome of the global stature of the brand IIT BHU.</p>

            <h3>Our Placement Success</h3>
            <p>Based on the past records, it's evident that those who have maintained their academic CGPA above 7.5 in any of the disciplines and participated in various extracurricular activities at IIT BHU, almost 98% students have been successful in getting the placement of their choice. These recruiters offer the average salary in the range of 9.00-12.00 Lakhs per annum. </p>

            <h3>Consistent Performance</h3>
            <p>The campus placement is not only dependent on the JEE rank and branch you are studying but also your academic performance at IIT BHU. Based on the past records, it's evident that those who have maintained their academic CGPA above 7.5 in any of the disciplines and participated in various extracurricular activities at IIT BHU, almost 98% students have been successful in getting the placement of their choice.</p>

            <h3>Flexible Curriculum</h3>
            <p>The placement trend at IIT BHU has shown that the flexibility in curriculum makes our students fit into any sector such as Core Engineering, IT, Finance, Analytics, Consulting et al. It does not matter which discipline you study, you may make a successful in-road to placement.</p>

            <h3>Universally Compatible</h3>
            <p> More than 1000 students placed every year in 250+ top brands with best compensation packages. KGP students are universally compatible to take up challenges in any of the sector because of the flexibility in our curriculum. The entrepreneurial frame of mind of the students of IIT BHU has also received appreciation from the recruiters. The corporate preparedness of the students is indicated by the significantly large number of students hired by the recruiters as compared to other institutes.</p>
{% endblock %}
